body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  text-align: center;
  padding: 60px 20px;
}

header h1 {
  color: #ff7a00;
}

button {
  background-color: #ff7a00;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #000;
}
